@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@800&family=Josefin+Slab:wght@300;500;700&display=swap");

/* COLOR SCHEME: https://www.schemecolor.com/water-drop.php */
:root {
	/* --color-carolina-blue: #5dacd4;
	--color-non-photo-blue: #a7dbf3;
	--color-water: #d4f1f8;
	--color-light-cobalt-blue: #83b0de; */

	/* In use */
	--color-black: hsl(0, 0%, 0%);
	--color-white: hsl(0, 0%, 100%);
	--color-cyan-azure: hsl(218, 44%, 51%);
	--color-nav-transparent: hsl(0, 0%, 100%, 0.6);
	--color-nav-separators: hsl(0, 0%, 0%, 0.1);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: "Josefin Slab", serif;
	font-size: 1.6rem;
	font-weight: 500;
	/* letter-spacing: 1px; */
	line-height: 1.5;
	letter-spacing: 0.5px;
}

h1,
h2,
h3 {
	font-family: "Big Shoulders Text", cursive;
}

h1 {
	margin: 0;
}

/* Nav */

.nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	padding: 1rem 2rem;
	background-color: var(--color-nav-transparent);

	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;

	transition: background-color 0.8s ease;
}

.collapsible {
	background-color: var(--color-white);
}

.nav__logo {
	width: 50px;
}

.nav__logo > img {
	width: 100%;
}

.nav__menu {
	width: 24px;
	height: 24px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.line {
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--color-black);
	transition: all 0.4s ease;
}

.nav.collapsible .nav__menu .line-1 {
	transform: translateY(8px) rotateZ(45deg);
}

.nav.collapsible .nav__menu .line-2 {
	opacity: 0;
}

.nav.collapsible .nav__menu .line-3 {
	transform: translateY(-8px) rotateZ(-45deg);
}

.nav__list,
.sub-list-portfolio {
	list-style: none;
}

.nav__list {
	width: 100%;
	max-height: 0;
	opacity: 0.2;
	overflow: hidden;
	transition: 0.6s max-height ease, 0.8s opacity ease;
}

.nav__list .nav__item:last-child {
	margin-top: 1.8rem;
	border: none;
	display: flex;
	justify-content: center;
}

.nav__list .nav__item:nth-child(4) {
	border: none;
}

.nav__item {
	padding-block: 1rem;
	border-bottom: 1px solid var(--color-nav-separators);
}

.nav__link,
.portfolio__link {
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Big Shoulders Text", cursive;
	color: var(--color-black);
}

.nav__link {
	font-weight: 700;
	font-size: 2.3rem;
}

.nav__link:hover,
.fa-brands:hover,
.portfolio__link:hover {
	color: var(--color-cyan-azure);
	opacity: 1;
}

.nav.collapsible .menu-active {
	max-height: 100vh;
	opacity: 1;
}

.nav__media {
	display: none;
}

.fa-brands {
	padding: 0.3rem 0.5rem;
	margin-right: 1rem;
	color: var(--color-black);
	opacity: 0.3;
	cursor: pointer;
}

.sub-list-portfolio {
	display: none;
}

@media (min-width: 768px) {
	.nav {
		gap: 3rem;
		padding-bottom: 0;
	}

	.nav__menu {
		display: none;
	}

	.nav__list {
		max-height: 100%;
		opacity: 1;

		display: flex;
		align-items: center;
		flex: 1;
		justify-content: space-evenly;
		overflow: visible;
	}
	.nav__list .nav__item:last-child {
		border: none;
		margin-top: 0;
		display: flex;
		justify-content: center;
		display: none;
	}

	.nav__item {
		padding-block: 0;
		border-bottom: none;
	}

	.nav__link,
	.fa-brands {
		color: var(--color-black);
	}

	.nav__media {
		display: flex;
		align-items: center;
	}

	/* Portfolio sub-list */

	.nav__list .nav__item:first-child {
		position: relative;
		display: flex;
		align-items: center;

		height: 100%;
	}

	.sub-list-portfolio {
		display: block;

		background-color: var(--color-nav-transparent);
		opacity: 0;

		position: absolute;
		top: 7.33rem;
		left: -2rem;
		width: 300%;
		max-height: 0;
		z-index: 999;
		overflow: hidden;

		transition: max-height 0.4s ease, opacity 0.6s ease;
	}

	.nav__list .nav__item:first-child:hover .sub-list-portfolio {
		max-height: 100vh;
		opacity: 1;
	}

	.portfolio__item {
		padding: 1rem 2rem;
	}
}

/* Hero */

.hero {
	height: 100vh;
	background-image: url("../images/hero.jpeg");
	background-size: cover;
	background-position: center top;
}

/* finish nav PORTFOLIO section and collapsible menu for desktop version */
