<footer class="footer">
	<a href="#" class="footer__logo">
		<img src="./images/logo.png" alt="" />
	</a>

	<ul class="footer__list list-1">
		<li class="footer__item">
			<a href="#" class="footer__link">banan ns</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link">czek it</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link">dentify</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link">falk</a>
		</li>
	</ul>
	<ul class="footer__list list-2">
		<li class="footer__item">
			<a href="#" class="footer__link">kia korczyk</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link">mercedes benz sobieslaw zasada</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link">my clinic</a>
		</li>
		<li class="footer__item">
			<a href="#" class="footer__link">sesja biznesowa</a>
		</li>
	</ul>
	<section class="footer__media">
		<a href="#" class="fa-brands fa-facebook-f"></a>
		<a href="#" class="fa-brands fa-instagram"></a>
		<a href="#" class="fa-brands fa-linkedin-in"></a>
	</section>
</footer>
