<div class="grid">
	<a href="#" class="grid__link col-span-2 row-span-2">
		<span class="grid-link__text">banan</span>
		<span class="grid-link__text">rowery</span>
	</a>
	<a href="#" class="grid__link">
		<span class="grid-link__text">czek it</span>
		<span class="grid-link__text">firma it</span>
	</a>
	<a href="#" class="grid__link">
		<span class="grid-link__text">dentify</span>
		<span class="grid-link__text">stomatologia</span>
	</a>
	<a href="#" class="grid__link">
		<span class="grid-link__text">falk</span>
		<span class="grid-link__text">maszyny rolnicze</span>
	</a>
	<a href="#" class="grid__link col-span-2">
		<span class="grid-link__text">sesja biznesowa</span>
		<span class="grid-link__text">sesje dla firm</span>
	</a>
	<a href="#" class="grid__link col-span-3 row-span-3">
		<span class="grid-link__text">mercedes benz </span>
		<span class="grid-link__text">sobieslaw zasada</span>
	</a>
	<a href="#" class="grid__link">
		<span class="grid-link__text">kia korczyk</span>
		<span class="grid-link__text">dealer kia</span>
	</a>
	<a href="#" class="grid__link">
		<span class="grid-link__text">my clinic</span>
		<span class="grid-link__text">lecznica</span>
	</a>
</div>
