<header>
	<nav class="nav">
		<a href="#" class="nav__logo">
			<img src="../images/logo.png" alt="" />
		</a>
		<figure class="nav__menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</figure>
		<ul class="nav__list menu-active">
			<li class="nav__item">
				<a href="#" class="nav__link">portfolio</a>
				<ul class="sub-list-portfolio">
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">banan ns</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">czek it</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">dentify</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">falk</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">kia korczyk</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link"
							>mercedes benz sobieslaw zasada</a
						>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">my clinic</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">sesja biznesowa</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">samochody</a>
					</li>
					<li class="portfolio__item">
						<a href="#" class="portfolio__link">rowery</a>
					</li>
				</ul>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">about</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">blog</a>
			</li>
			<li class="nav__item">
				<a href="#" class="nav__link">contact</a>
			</li>
			<li class="nav__item">
				<span class="fa-brands fa-facebook-f media"></span>
				<span class="fa-brands fa-instagram media"></span>
				<span class="fa-brands fa-linkedin-in media"></span>
			</li>
		</ul>
		<section class="nav__media">
			<span class="fa-brands fa-facebook-f media"></span>
			<span class="fa-brands fa-instagram media"></span>
			<span class="fa-brands fa-linkedin-in media"></span>
		</section>
	</nav>
</header>
